=begin
#Mux API

#Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before.

The version of the OpenAPI document: v1
Contact: devex@mux.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.1

=end

require 'cgi'

module MuxRuby
  class StudiosApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a studio
    # Create a new studio. Studios are used to build awesome realtime video experience
    # @param create_studio_request [CreateStudioRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StudioResponse]
    def create_studio(create_studio_request, opts = {})
      data, _status_code, _headers = create_studio_with_http_info(create_studio_request, opts)
      data
    end

    # Create a studio
    # Create a new studio. Studios are used to build awesome realtime video experience
    # @param create_studio_request [CreateStudioRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StudioResponse, Integer, Hash)>] StudioResponse data, response status code and response headers
    def create_studio_with_http_info(create_studio_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudiosApi.create_studio ...'
      end

      # verify the required parameter 'create_studio_request' is set
      if @api_client.config.client_side_validation && create_studio_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_studio_request' when calling StudiosApi.create_studio"
      end

      # resource path
      local_var_path = '/video/v1/studios'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_studio_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StudioResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['accessToken']

      new_options = opts.merge(
        :operation => :"StudiosApi.create_studio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudiosApi#create_studio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # Retrieve a studio
    #
    # @param studio_id [String] The studio ID
    # @param [Hash] opts the optional parameters
    #
    # @return [StudioResponse]
    #
    def get_studio(studio_id, opts = {})
      data, _status_code, _headers = get_studio_with_http_info(studio_id, opts)
      data
    end

    # Retrieve a studio
    #
    # @param studio_id [String] The studio ID
    # @param [Hash] opts the optional parameters
    #
    # @return [Array<(StudioResponse, Integer, Hash)>]: StudioResponse data, response status code,  response headers
    #
    def get_studio_with_http_info(studio_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudiosApi.get_studio ...'
      end

      # verify the required parameter 'studio_id' is set
      if @api_client.config.client_side_validation && studio_id.nil?
        fail ArgumentError, "Missing the required parameter 'studio_id' when calling StudiosApi.get_studio"
      end

      # resource path
      local_var_path = '/video/v1/studios/{STUDIO_ID}'.sub('{' + 'STUDIO_ID' + '}', CGI.escape(studio_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StudioResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['accessToken']

      new_options = opts.merge(
        :operation => :"StudiosApi.get_studio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudiosApi#get_studio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      return data, status_code, headers
    end



    # Start a studio broadcast
    #
    # @param studio_id [String] The studio ID.
    # @param broadcast_id [String] The broadcast ID.
    # @param [Hash] opts the optional parameters
    #
    # @return [StartStudioBroadcastResponse]
    #
    def start_studio_broadcast(studio_id, broadcast_id, opts = {})
      data, _status_code, _headers = start_studio_broadcast_with_http_info(studio_id, broadcast_id, opts)
      data
    end

    # Start a studio broadcast
    #
    # @param studio_id [String] The studio ID.
    # @param broadcast_id [String] The broadcast ID.
    # @param [Hash] opts the optional parameters
    #
    # @return [Array<(StartStudioBroadcastResponse, Integer, Hash)>]: StartStudioBroadcastResponse data, response status code and response headers
    def start_studio_broadcast_with_http_info(studio_id, broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudiosApi.start_studio_broadcast ...'
      end

      # verify the required parameter 'studio_id' is set
      if @api_client.config.client_side_validation && studio_id.nil?
        fail ArgumentError, "Missing the required parameter 'studio_id' when calling StudiosApi.start_studio_broadcast"
      end

      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling StudiosApi.start_studio_broadcast"
      end

      # resource path
      local_var_path = '/video/v1/studios/{STUDIO_ID}/start'.sub('{' + 'STUDIO_ID' + '}', CGI.escape(studio_id.to_s)).sub('{' + 'BROADCAST_ID' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StartStudioBroadcastResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['accessToken']

      new_options = opts.merge(
        :operation => :"StudiosApi.start_studio_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudiosApi#start_studio_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      return data, status_code, headers
    end

    # Stop a studio broadcast
    # 
    # @param studio_id [String] The studio ID.
    # @param broadcast_id [String] The broadcast ID.
    # @param [Hash] opts the optional parameters
    #
    # @return [StopStudioBroadcastResponse]
    #
    def stop_studio_broadcast(studio_id, broadcast_id, opts = {})
      data, _status_code, _headers = stop_studio_broadcast_with_http_info(studio_id, broadcast_id, opts)
      data
    end

    # Stop a studio broadcast
    #
    # @param studio_id [String] The studio ID.
    # @param broadcast_id [String] The broadcast ID.
    # @param [Hash] opts the optional parameters
    #
    # @return [Array<(StopStudioBroadcastResponse, Integer, Hash)>] StopStudioBroadcastResponse data, response status code and response headers
    #
    def stop_studio_broadcast_with_http_info(studio_id, broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudiosApi.stop_studio_broadcast ...'
      end
      
      # verify the required parameter 'studio_id' is set
      if @api_client.config.client_side_validation && studio_id.nil?
        fail ArgumentError, "Missing the required parameter 'studio_id' when calling StudiosApi.stop_studio_broadcast"
      end

      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling StudiosApi.stop_studio_broadcast"
      end

      # resource path
      local_var_path = '/video/v1/studios/{STUDIO_ID}/stop'.sub('{' + 'STUDIO_ID' + '}', CGI.escape(studio_id.to_s)).sub('{' + 'BROADCAST_ID' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StopStudioBroadcastResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['accessToken']

      new_options = opts.merge(
        :operation => :"StudiosApi.stop_studio_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudiosApi#stop_studio_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end

      return data, status_code, headers
    end
  end
end